.history-introduction ul li p {
    font-size: 12px;
}

.horizontal-timeline .events {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0), rgba(0, 0, 0, 0));
    height: 2px;
    border-radius: 4px;
    width: 90%;
}

.horizontal-timeline .events ol {
    margin: 0;
    padding: 0;
    text-align: center;
}


.horizontal-timeline .events ul li {
    display: inline-block;
    width: 20%;
}

.horizontal-timeline .events ul li a {
    font-size: 1.5em;
    color: #000000;
    position: relative;
    top: -60px;
    text-decoration: none;
}

.horizontal-timeline .events ul li a:after {
    content: '';
    position: absolute;
    bottom: -34px;
    left: 40%;
    right: auto;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #606060;
    background-color: #000000;
}

.horizontal-timeline .events ul li a.active::after {
    background-color: #0e80c3; 
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;
}

.vision-mission-core-values {
    background-image: url('../img/banner-backgound-dich-vu.png');
    background-size: cover;
    position: relative;
}


.vision-mission-core-values h5, .job-title {
    color: #0e80c3;
}

.vmc-title p {
    font-size: 12px;
}

.vmc-title h5 {
    color: #0e80c3;
}

.culture-content {
    background-color: #F6FCFF;
    border-left: 4px solid #0e80c3;
}

.my-team {
    background-color: #F6FCFF;
}

.vertical-timeline .row .col-9 {
    border-left: 2px solid #000000;
}

.circle-vertical {
    left: -3%; 
    top: 42%;
    width: 13px;
    height: 13px;
    background-color: #000000;
    border-radius: 50%;
}

.vertical-timeline p {
    line-height: 2;
}

.vmcv {
    border: 1px solid transparent;
    transition: border 0.5s ease-in-out;
    transition: background-color 0.3s ease-in-out, border 0.5s ease-in-out; 
    color: #000;
    border-bottom: 5px solid #0e80c3;
}

.vmcv:hover {
    background-color: #0e80c3 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF;
}

.vmcv:hover h5 {
    color: #FFFFFF !important;
}